<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Details</title>
</head>
<body>
<h1 th:text="${pizza.name}"></h1>
<p th:text="${pizza.description}"></p>
<p th:text="${pizza.price}"></p>

<div class="my-3">
    <!-- link che porta alla pagina per creare un borrowing: devo portarmi dietro l'id del book -->
    <a class="btn btn-primary" th:href="@{/specialOffers/create(pizzaId=${pizza.id})}">Add
        special offer</a>
</div>

<thead>
<tr>
    <th>Title</th>
    <th>start date</th>
    <th>expire date</th>
</tr>
</thead>
<tbody>
<tr th:each="specialOffer : ${pizza.specialOffers}">
    <td th:text="${specialOffer.title}"></td>
    <td th:text="${specialOffer.startDate}"></td>
    <td th:text="${specialOffer.expireDate}"></td>
</tr>
</tbody>

</body>
</html>